@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
:root {
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray-–-900: #1a1a1a;
  --gray-scale-gray-–-800: #333;
  --gray-scale-gray-–-700: #4d4d4d;
  --gray-scale-gray-–-600: #666;
  --gray-scale-gray-–-500: #808080;
  --gray-scale-gray-–-400: #999;
  --gray-scale-gray-–-300: #b3b3b3;
  --gray-scale-gray-–-200: #ccc;
  --gray-scale-gray-–-100: #e6e6e6;
  --gray-scale-gray-–-50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
}
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Segoe Script", sans-serif;
  --third-family: "Dancing Script", sans-serif;
  --bannerHeight: 640px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
span,
ol,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
}

/* common class starts */
.iconify-icon {
  line-height: 0;
}
.customBtn {
  border: none;
  border-radius: 43px;
  padding: 16px 40px;
  width: 191px;
  height: 51px;
  background: var(--branding-success);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-white);
}
.rightArrow {
  font-size: 20px;
  font-weight: 600 !important;
  color: var(--gray-scale-white);
}
/* common class ends */
/* COMMON CSS ENDS HERE */
/* Preloader styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#preloader .spinner {
  border: 6px solid var(--gren-gray-scale-50);
  border-top: 8px solid var(--branding-success);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header Top STARTS HERE */
#headerTop {
  background: var(--gray-scale-gray-–-800);
  color: var(--gray-scale-gray-–-300);
  padding: 13px 0;
}
#headerTop p {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

#headerTop ul li {
  padding: 0 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#headerTop ul li:last-child {
  border: none;
}
#headerTop form select {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-scale-gray-–-300);
  outline: none;
}
#headerTop form select option {
  color: var(--gray-scale-gray-–-400);
}
#headerTop li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray-–-300);
}
/* Header Top ENDS HERE */
/* HEADER MIDDLE STARTS HERE */
#headerMiddle {
  padding: 24px 0;
}
#headerMiddle form .formGroup {
  width: 100%;
  max-width: 400px;
  position: relative;
}
#headerMiddle form {
  display: flex;
  justify-content: center;
}
#headerMiddle form input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--gray-scale-gray-–-100);
  padding-left: 44px;
  border-radius: 6px 0 0 6px;
}
#headerMiddle form input:focus {
  border: 1px solid var(--branding-success);
  outline: none;
}
#headerMiddle form button {
  border-radius: 0 6px 6px 0;
  padding: 14px 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  background: var(--branding-success);
  border: none;
}

#headerMiddle .search span {
  position: absolute;
  top: 50%;
  padding-left: 18.5px;
  transform: translateY(-50%);
  left: 0;
}
.quickLinks a {
  font-size: 20px;
  color: var(--gray-scale-gray-–-700);
}

.quickLinks .text span {
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: var(--gray-scale-gray-–-700);
}
.quickLinks .text h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--gray-scale-gray-–-900);
}
.quickLinks li {
  padding: 0 17px;
  height: 28px;
  border-right: 1px solid var(--gray-scale-gray-–-200);
}
.quickLinks li:last-child {
  border: none;
}
.quickLinks li .text {
  padding: 0 6px;
}
.quickLinks li .text h4 {
  padding-top: 7px;
}
.quickLinks .cartIcon {
  position: relative;
}
.quickLinks .cartIcon .iconify-icon img {
  width: 30px;
  height: 22px;
}
.quickLinks .cartIcon .cartCount {
  top: 2px;
  right: -2px;
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-white);
  border-radius: 16px;
  width: 18px;
  height: 18px;
  background: var(--branding-success-dark);
}

/* HEADER MIDDLE ENDS HERE */
/* HEADER BOTTOM STARTS HERE */
#headerBottom {
  background: var(--gray-scale-gray-–-50);
}
#headerBottom .category-form {
  position: relative;
  margin: 0 auto;
  border: none;
  outline: none;
}
#headerBottom #categorySelect option {
  background-color: var(--gray-scale-gray-–-100);
  color: var(--branding-success);
}
#headerBottom #categorySelect .selected{
  display: none;
}
#headerBottom .form-selects {
  width: 100%;
  max-width: 218px;
  appearance: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  padding: 17.5px 0 19px 54px;
  color: var(--gray-scale-white);
  outline: none;
  border: none;
  background-color: var(--branding-success);
}
#headerBottom form .iconify-icon {
  position: absolute;
  padding: 0 0 0 24px;
  pointer-events: none;
}
#headerBottom form .down {
  position: absolute;
  text-align: end;
  right: 19px;
  color: var(--gray-scale-white);
  font-size: 14px;
  pointer-events: none;
}

#headerBottom nav .nav-item {
  display: flex;
  align-items: center;
  left: 0;
  padding: 17.5px 0;
  padding-right: 32px;
}
/* Hide the dropdown menu by default */
#headerBottom nav .nav-item .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: var(--gray-scale-white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

/* Show the dropdown menu when hovering over the parent nav item */
#headerBottom nav .nav-item:hover .dropdown-menu {
  display: block;
}

#headerBottom nav .dropdown-menu .dropdown-item {
  padding: 4px 12px;
  text-decoration: none;
  color: var(--branding-success-bright);
}
#headerBottom nav .dropdown-menu .dropdown-item:hover {
  background-color: var(--gray-scale-gray-–-200);
}
#headerBottom nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
  cursor: pointer;
}
#headerBottom nav .nav-item .nav-link:hover {
  color: var(--branding-success);
}
#headerBottom nav .nav-item .down {
  color: var(--gray-scale-gray-–-500);
  padding-left: 4px;
  font-size: 12px;
}
#headerBottom nav .nav-item .down i {
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.nav-link.dropdown-toggle[aria-expanded="true"] .down i {
  transform: rotate(180deg);
}
#headerBottom .contact {
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  padding: 17.5px;
}
#headerBottom .phone {
  padding-right: 8px;
  text-align: start;
}
#headerBottom .categories {
  margin-left: 10px;
  margin-top: 0;
  scrollbar-width: none;
}

#headerBottom .categories a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
}
#headerBottom .categories a:focus {
  color: var(--branding-success);
}
.categorie {
  scrollbar-width: none;
}

/* HEADER BOTTOM END */

/* SEARCH IN SM ENDS HERE */
/* header sm bottom ends here */
/* HEADER BOTTOM ENDS HERE */
/* BANNER STARTS HERE */
.arrows {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--gren-gray-scale-100);
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.leftArrows {
  left: 5%;
}
.rightArrows {
  right: 5%;
}
#banner .banner-dots {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}
#banner .banner-dots button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--gray-scale-gray-–-100);
  border: none;
  outline: none;
  color: transparent;
  transition: 0.3s;
}
#banner .banner-dots .slick-active button {
  background-color: var(--branding-success);
  border-radius: 50px;
  width: 16px;
}
#banner .slide .banner-text * {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.9s;
}
#banner .slick-active .banner-text * {
  transform: translateY(0px);
  opacity: 1;
}
#banner {
  position: relative;
  background-image: url(../images/BG.png);
  background-size: contain;
  background-repeat: no-repeat;
  max-height: var(--bannerHeight);
  height: var(--bannerHeight);
  scroll-behavior: none;
  /* overflow: hidden; */
}
#banner .slider .slide .container .row,
#banner .slider .slide .container,
#banner .slider .slide {
  height: var(--bannerHeight);
}
#banner .bannerImg {
  position: relative;
}
#banner .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 20%;
  left: 80%;
  right: 0;
  background-color: var(--branding-warning);
}
#banner .circle p {
  /* display: flex; */
  /* flex-direction: column; */
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: var(--gray-scale-white);
}
#banner .circle p span {
  font-weight: 500;
  display: block;
  font-size: 16px;
  line-height: 0%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--gray-scale-white);
}

#banner .banner-text .shopery {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--branding-success);
}
#banner .banner-text h3 {
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: var(--gren-gray-scale-900);
}
#banner .banner-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
  padding-top: 20px;
}
#banner .banner-text .shopBtn {
  margin-top: 32px;
}
/* BANNER ENDS HERE */
/* FOUR BOXES STARTS HERE */
#four-boxes-section {
  padding: 10px 0;
  /* background: var(--gray-scale-white);   */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background: var(--gren-gray-scale-50); */
}

#four-boxes-section .box:hover {
  background: var(--branding-success);
  border-radius: 8px 8px 8px 8px;
}
#four-boxes-section .box:hover h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-scale-white);
}
#four-boxes-section .box:hover p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
}

#four-boxes-section .active {
  background: var(--branding-success);
  border-radius: 8px 0 0 8px;
}
#four-boxes-section .active h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  padding: 16px 0 8px 0;
  color: var(--gray-scale-white);
}
#four-boxes-section .active p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
}
#four-boxes-section .box {
  /* main box*/
  padding: 40px;
  width: 330px;
  height: 222px;
  text-align: start;
  padding: 30px;
  background: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray-–-100);
  box-shadow: 0 16px 48px 0 rgba(14, 107, 21, 0.08);
  cursor: pointer;
}

#four-boxes-section .box i {
  color: #28a745; /* Icon color */
  margin-bottom: 15px;
}

#four-boxes-section .box h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  padding: 16px 0 8px 0;
  color: var(--gray-scale-gray-–-900);
}

#four-boxes-section .box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-400);
}
#four-boxes-section .radius {
  border-radius: 0 8px 8px 0;
}
#four-boxes-section .rounded {
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 100% !important;
}
/* Responsive Design */
@media (max-width: 768px) {
  .box {
    width: 45%;
  }
}

@media (max-width: 480px) {
  
  .box {
    scrollbar-width: none;
    width: 100%;
  }
}
/* FOUR BOXES ENDS HERE */

/* FIRS AND HIDDEN BOXES */
#first-section {
  height: 96px;
}
#hidden-section {
  /* hidden or second section*/
  position: relative;
}
.hidden-box {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -111px;
}
/* THIRD SECTION STATS HERE */
#third-section {
  background-color: var(--gren-gray-scale-100);
  /* height: 1321px; */
  height: fit-content;
}
#third-section .row {
  margin-top: 50px;
}
#third-section .group-text {
  padding-top: 211px;
}
#third-section .group-text nav {
  margin-top: 24px;
}
#third-section .group-text h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-gray-–-900);
}
#third-section .group-text li {
  border-right: 1px solid var(--gren-gray-scale-200);
  padding: 0 24px;
}
#third-section .group-text li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
}
#third-section .group-text li a:hover {
  color: var(--branding-success);
}
#third-section .group-text li:last-child {
  border: none;
}

/* products start here */
#third-section .productCard {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  outline: 1px solid var(--gren-gray-scale-100);
  /* width: 100%;
  height: 100%; */
  max-width: 330px;
  max-height: fit-content;
  background: var(--gray-scale-white);
  overflow: hidden;
}
#third-section .productCard:hover {
  box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
}

#third-section .productCard .introduceImg{
  max-height: 310px;
  max-width: 330px;
  /* min-height: 300px; */
}
#third-section .productCard .introduceImg img {
  width: 100%;
  max-height: 300px;
  min-height: 300px;
}
.addToCartBtn span{
  margin-right: 10px;
}
#third-section .productCard .product-text .cnt {
  margin: 20px 20px;
}
#third-section .productCard .bagCnt{
  margin: 20px 20px;
}
#third-section .productCard .bagOverlayCss {
    padding: 12px;
    border-radius: 40px;
    background: var(--gren-gray-scale-100);
    line-height: 12px;
    transition: background 0.3s ease; /* Smooth transition */
}

#third-section .productCard .newBag {
    background: var(--branding-success);  
    padding: 13px;
    border-radius: 40px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

      
#third-section .productCard .product-text h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-700);
}
#third-section .productCard .product-text h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  margin: 2px 0 11px 0;
  text-align: start;
}
#third-section .productCard .product-text h2 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: line-through;
  color: var(--gren-gray-scale-400);
}
#third-section .productCard .product-text .groupStar .orange {
  color: var(--branding-warning);
}

/* OVERLAY START */
#third-section .productCard .overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
  border: 0 0 12px 0 rgba(32, 181, 38, 0.32);
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
#third-section .productCard:hover .overlay {
  transform: translateY(0%);
  opacity: 1;
  border: 0 0 12px 0 rgba(32, 181, 38, 0.32);
}
#third-section .productCard .overlay span p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
  border-radius: 4px;
  padding: 3px 8px;
  width: 80px;
  height: 27px;
  background: var(--branding-error);
  margin: 20px 0 0 20px;
}
#third-section .productCard .overlay .sale {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}


#third-section .productCard .heart .heart-icon {
  width: 24px;
  height: 18px;
  fill: var(--gray-scale-white);
  background:  var(--gray-scale-white);
  stroke-width: 1px;
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 100% !important;
  stroke: var(--gray-scale-gray-–-50);
  padding: 12px;
}
#third-section .productCard .heart {
  padding-top: 30px;
  margin-bottom: 35px;

}
#third-section .productCard .eye-icon {
  width: 24px;
  height: 18px;
  background:  var(--gray-scale-white);

  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 100% !important;
  padding: 12px;
}

/* OVERLAY END */
/* products end here */
/* THIRD SECTION ENDS HERE */
/* FOUR SECTION AND FIRST ,HIDDEN ,THIRD ENDS HERE */

/* DRINK SECTION STARTS HERE */
#drink {
  background-color: var(--gray-scale-white);
  padding: 100px 0;
}

#drink .drinkBtn,
#drink .drinkBtn .rightArrow {
  background: var(--gray-scale-white);
  color: var(--branding-success);
}

/* DRINK SECTION ENDS HERE */
/*  SEARCH IN SM SECTION STARTS HERE */
.smSearchBtn {
  position: relative;
  display: inline-block;
}
.smSearchBtn .closeIcon {
  color: var(--branding-error);
}
.smSearchBtn .btn-icon {
  position: absolute; /* Position the icon */
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.smSearchBtn .btn-icon span i {
  font-size: 20px;
}
.searchSm2 {
  display: block !important;
}
#headerMiddle .searchSm2 form input {
  width: 100%;
  height: 35px;
  border: 1px solid var(--gray-scale-gray-–-100);
  padding-left: 40px;
  border-radius: 6px 0 0 6px;
  outline: navajowhite;
}
#headerMiddle .searchSm2 form input:focus {
  border: 1px solid var(--branding-success-bright);
}
#headerMiddle .searchSm2 form input::placeholder {
  font-size: 14px;
}
#headerMiddle .searchSm2 form button {
  border-radius: 0 6px 6px 0;
  padding: 9px 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: var(--gray-scale-white);
  background: var(--branding-success);
  border: none;
}
.searchSm2 .search .formGroup [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: 0;
}

.searchSm2 .searchResult p {
  text-transform: capitalize;
  margin-top: 5px;
}

.searchSm2 .searchResult .product-text h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
}
.smMiddle .smSearchBtn button {
  border: none;
  background-color: transparent;
}
.searchSm2 .searchResult .product-text h4 del {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: line-through;
  color: var(--gren-gray-scale-400);
  padding-left: 2px;
}
.searchSm2 .searchResult .product-card {
  border: 1px solid var(--gren-gray-scale-200);
  padding: 10px;
  margin-top: 5px;
  max-height: 300px;
}
.smSidebar .dropdown-menu {
  border: none;
}
/* SPECIAL DEALS SECTION STARTS HERE */
#specialDeals {
  background: var(--gren-gray-scale-50);
  padding: 100px 0;
}
#specialDeals .middleSpecial {
  padding-left: 39px;
}
#specialDeals .middleSpecial p {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--branding-success);
}
#specialDeals .middleSpecial h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);
  margin: 12px 0 24px 0;
}
#specialDeals .middleSpecial .countDown {
  display: flex;
  justify-content: center;
}
#specialDeals .middleSpecial .countDown h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--branding-success);
}
#specialDeals .middleSpecial .countDown p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--gren-gray-scale-500);
  margin-top: 4px;
}
#specialDeals .middleSpecial .countDown .countDown-cnt {
  border-radius: 6px;
  padding: 20px 8px;
  width: 96px;
  height: 96px;
  background: var(--gray-scale-white);
}
#specialDeals .middleSpecial .countDown span {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--gren-gray-scale-500);
  margin: 33px 8px;
}
#specialDeals .middleSpecial button {
  margin-top: 32px;
  margin-left: 140px;
}
#specialDeals .productImg {
  padding-right: 18.5px;
}
#specialDeals .productImg img,
#specialDeals .productImg2 img {
  width: 100%;
}
/* SPECIAL DEALS SECTION ENDS HERE */
/* FEUTURED PRODUCTS SECTION STARTS HERE */

#feuturedProduct #third-section .group-text {
  padding-top: 0;
}
#feuturedProduct .productCard {
  max-width: 264px;
}
#feuturedProduct #third-section {
  padding: 100px;
}
#feuturedProduct #third-section .productCard .featuredImg img{
  /* max-height: 210px;
  min-height: 210px; */
}
#feuturedProduct .productCard .product-text h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--branding-success-dark);
}
#feuturedProduct .productCard .product-text h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  margin-bottom: 7px;
}

/* overlay start */
/* #feuturedProduct .productCard .product-text .overlay .eye {
  font-size: 10px;
  width: 10px;
}
#feuturedProduct .productCard .product-text .groupStar {
  margin-top: 0;
}

#feuturedProduct .productCard .heart .heart-icon {
  margin: 0 0 6px 92px;
  width: 24px;
  height: 18px;
  padding: 12px;
}
#feuturedProduct .productCard .heart {
  padding-top: 30px;
}
#feuturedProduct .productCard .eye-icon {
  width: 24px;
  height: 18px;
  padding: 12px;
}

#feuturedProduct .productCard .eye {
  margin: 30px 32px 0 192px;
}
#feuturedProduct .productCard .eye-icon,
#feuturedProduct .productCard .heart .heart-icon:hover {
  background-color: var(--gray-scale-white);
} */
/* overlay end */
/* FEUTURED PRODUCTS SECTION ENDS HERE */
/* REVIEW SECTION STARTS HERE */
#review {
  background: var(--gren-gray-scale-50);
  max-height: 1042px;
  height: 1042px;
  position: relative;
  margin-bottom: 100px;
}
#review h2 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);
  padding-top: 100px;
}
#review .reviewBox {
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 10px;
  width: 33%;
  height: 240px;
  background: var(--gray-scale-white);
  margin: 43px 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* margin-bottom: 599px; */
}

#review .reviewBox:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#review .reviewBox .wrapper {
  padding: 0 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#review .reviewBox span img {
  text-align: center;
  padding: 32px 0 24px 0;
}
#review .reviewBox p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gren-gray-scale-600);
}
#review .reviewBox span i {
  margin-top: 18px;
  transform: rotate(180deg);
  color: var(--gray-scale-white);
  font-size: 30px;
}
#review .reviewBox .customer {
  text-align: center;
}
#review .reviewBox .customer img {
  max-width: 64px;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 16px 0 14px 0;
}
#review .reviewBox .customer h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gren-gray-scale-900);
}
#review .reviewBox .customer h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--gren-gray-scale-500);
}
/* REVIEW SECTION ENDS HERE */
/* VIDEO SECTION STARTS HERE */
#videos {
  position: absolute; /* Absolute positioning */
  top: 672px; /* Distance from top of parent */
  /* left: 50%; Center horizontally */
  /* transform: translateX(-50%); */
  z-index: 10; /* Higher layer */
  border-radius: 20px;
}
#videos .video-container {
  position: relative;
}
#videos video {
  width: 100%;
  border-radius: 20px;
}

#videos .thumbnail-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  pointer-events: none;
}
#videos .thumbnail-text h6 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-scale-white);
}
#videos .thumbnail-text p {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-white);
  width: 495px;
  margin: 12px 0 32px 0;
}
#videos .thumbnail-text span i {
  font-size: 44px;
  color: var(--gray-scale-white);
  pointer-events: none;
}
/* VIDEO SECTION ENDS HERE */
/* LATEST NEWS SECTION STARTS HERE */
#latestNews {
  margin-top: 470PX;
  /* position: relative; */
  /* margin-bottom: 260px; */
  /* transform: translateY(50%); */
}
#latestNews .customRow {
  display: flex;
  justify-content: center;
}
#latestNews .latestNewsBox {
  margin: 0 12px;
  padding-top: 24px;
  padding-left: 24px;
  border-radius: 8px;
  width: 424px;
  height: 512px;
  margin-top: 50px;
  background: var(--gray-scale-white);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.latestNewsBox:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#latestNews h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);
}
#latestNews .latestNewsBox .childBox {
  position: relative;
}
#latestNews .latestNewsBox .childBox .text {
  position: absolute;
  left: 20px;
  top: 198px;
  border-radius: 4px;
  padding: 6px 15px 10px 15px;
  width: 58px;
  height: 58px;
  background: var(--gray-scale-white);
}
#latestNews .latestNewsBox .childBox .text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--gray-scale-gray-–-900);
}
#latestNews .latestNewsBox .childBox .text p {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-scale-gray-–-500);
}
#latestNews .latestNewsBox .curabitur {
  margin-top: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
  max-width: 376px;
}
#latestNews .latestNewsBox .nulla {
  margin: 8px 0 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
  max-width: 376px;
}

#latestNews .latestNewsBox span a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--branding-success);
}
#latestNews .latestNewsBox span a .rightArrow {
  color: var(--branding-success);
}
/* LATEST NEWS SECTION ENDS HERE */
/* NEWSLETTER SECTION STARTS HERE */
#newsletter {
  height: 518px;
  width: 100%;
  background: var(--gren-gray-scale-50);
}
#newsletter .span {
  border: 1px solid var(--gren-gray-scale-200);
  width: 100%;
  width: 100%;
  margin: auto;
  height: 0px;
  opacity: 0.7;
  padding-top: 356px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
#newsletter .cntWrapper {
  padding: 50px 0 0 0;
}
#newsletter .text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
}
#newsletter .text h2 {
  text-align: start;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gren-gray-scale-900);
}
#newsletter .cntWrapper .inputField {
  position: relative;
}
/* change for dashboard */
#newsletter .cntWrapper .inputField form {
  text-align: end;
  position: relative;
}
#newsletter .cntWrapper .inputField input {
  border: 1px solid var(--gren-gray-scale-100);
  border-radius: 46px;
  padding: 14px 24px;
  width: 491px;
  height: 52px;
  background: var(--gray-scale-white);
  outline: rgba(32, 181, 38, 0.32);
  pointer-events: auto;
}
#newsletter .cntWrapper button {
  position: absolute;
  right: 0;
  border-radius: 43px;
  padding: 16px 40px;
  width: 162px;
  height: 52px;
  background: var(--branding-success);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray-scale-white);
}
#newsletter .cntWrapper button:hover {
  background: var(--branding-success-dark);
}
/* NEWSLETTER SECTION ENDS HERE */
/* FOOTER SECTION STARTS HERE */
#footer {
  /* background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Footer.png);
  background-size: cover; */
  background: var(--gren-gray-scale-900);
}
#footer .wrapper {
  display: flex;
  margin: 100px 0;
  /* align-items: center; */
}
#footer h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-white);
}
#footer h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
}
#footer h5 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
  padding: 0 16px;
}
#footer p,
#footer ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gren-gray-scale-400);
  padding: 12px 0;
}
#footer ul li {
  padding: 6px 0;
}
#footer ul li a:hover {
  color: var(--gray-scale-white);
}
#footer .social a img {
  padding: 8.5px;
  border-radius: 100%;
}
#footer .social a img:hover {
  background-color: var(--branding-success);
  color: var(--gray-scale-gray-–-100);
}
#footer .footerHr {
  background: var(--gren-gray-scale-900);
  width: 1320px;
  color: white;
}
#footer .social-payment {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
}
#footer .payment a {
  padding: 8px 0 8px 0;
}
#footer .wrapper .myAccount {
  margin-left: 20px;
}
/* FOOTER SECTION ENDS HERE */
#smBottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--gray-scale-gray-–-50);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 8px 0;
  border-radius: 10px 10px 0 0;
}
#smBottomNav a {
  color: var(--gray-scale-gray-–-100);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}
#smBottomNav a:focus,
#smBottomNav a:hover,
#smBottomNav a.actives {
  background-color: var(--branding-success);
  color: white;
}
/* POPUP WINDOW START*/
/* Popup container */
#popup {
  padding: 10px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}
.popup.show {
  visibility: visible;
  opacity: 1;
}
#popup .popup-content {
  background: var(--gray-scale-white);
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;
  max-width: 872px;
  max-height: 400px;
  text-align: center;
  box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}
#popup .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--gray-scale-gray-–-900);
}

#popup .close-btn:hover {
  color: #00000098;
}

#popup .popWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#popup .popWrapper .popImg {
  max-width: 354px;
  max-height: 380px;
}
#popup .popWrapper .popText {
  padding-left: 40px;
}
#popup .popWrapper .popText h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-gray-–-900);
}
#popup .popWrapper .popText p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gray-scale-gray-–-400);
  max-width: 404px;
  text-align: center;
  margin: 12px 0 24.5px 0;
}
#popup .popWrapper .popText p span {
  font-weight: 600;
  line-height: 120%;
  color: var(--branding-warning);
}
#popup .popWrapper .popText form {
  position: relative;
  margin-bottom: 49.5px;
}
#popup .popWrapper .popText form input {
  border: 1px solid var(--gray-scale-gray-–-100);
  border-radius: 46px;
  padding: 14px 24px;
  width: 100%;
  max-width: 343px;
  max-height: 49px;
  background: var(--gray-scale-white);
  outline: none;
}
#popup .popWrapper .popText form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-500);
}
#popup .popWrapper .popText form button {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: var(--gray-scale-white);
  border-radius: 43px;
  padding: 15px 40px 14px 40px;
  width: 147px;
  height: 49px;
  background: var(--branding-success);
  border: none;
  top: 0;
  right: 0;
  &:hover {
    background: var(--branding-success-dark);
  }
}

#popup .popWrapper .popText .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}
#popup .popWrapper .popText .wrap input[type="checkbox"] {
  appearance: none;
  border: 1px solid var(--gray-scale-gray-–-200);
  border-radius: 3px;
  width: 20px;
  height: 20px;
  background: var(--gray-scale-white);
  cursor: pointer;
}
#popup .popWrapper .popText .wrap input[type="checkbox"]:checked {
  background: var(--branding-success);
  color: var(--gray-scale-white);
}
#popup .popWrapper .popText .wrap input[type="checkbox"]:checked::after {
  content: "\2713";
  font-size: 18px;
  color: var(--gray-scale-white);
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popup .popWrapper .popText .wrap label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-600);
  cursor: pointer;
}
/* POPUP WINDOW END*/

.page-item:not(:first-child) .page-link {
    margin-left: calc(var(--bs-border-width) * -1);
    text-align: center;
    line-height: 25px;
}
.shopProduct #third-section .pagination .page-item {
    text-align: center;
    font-size: 21px !important; 
}
.active>.page-link, .page-link.active {
    background-color: var(--gray-scale-gray-–-600);
}
.searchResults ul li a{
 color: var(--gray-scale-gray-–-900);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}
.searchResults ul li:hover a {
  color: var(--gray-scale-gray-–-300);
}


/* shoppint cart */
  .cart-icon {
      cursor: pointer; 
    }

    .cart-popup h3 {
      margin-top: 0;
    }
   
    .cart-item {
      display: flex;
      justify-content: none;
      align-items: center;
      margin: 8px 0;
    }
    .close-btn {
      float: right;
      font-size: 16px;
      cursor: pointer;
      color: #999;
    }

    .close-btn:hover {
      color: black;
    }
    #cartPopup h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
    }
  .cart-popup {
      display: none;
      position: fixed;
      top: 0px;
      right: 0px;
      z-index: 1000;
      padding: 15px;
      border-radius: 5px 0 0 5px;
      box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.12);
      background: var(--gray-scale-white);
      border: 1px solid var(--gray-scale-gray-–-100);
      padding: 35px;
      max-width: 456px;
      width: 100%;
      max-height: 100vh;
      overflow-y: auto;
      scrollbar-width: none;
    }
     #cartPopup .popupWrap{
      position: relative;
    }
  
    #cartPopup .cartLink {
        /* margin-top: 50%; */
      position: sticky;
      /* bottom: 0; */
    }
   #cartPopup .cartLink a {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    }
    #cartPopup .cartLink a:hover button {
     background: var(--branding-success);
     color: var(--gray-scale-white);
    }
    #cartPopup .cartLink a button{
      border: none;
      border-radius: 43px;
      padding: 16px 40px;
      width: 376px;
      height: 51px;
      background: rgba(86, 172, 89, 0.1);
      color: var(--branding-success);
    } 
#cartPopup .cartLink span{
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
   #cartPopup .itemName{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
   }
   #cartPopup .itemQty{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
  }
    #cartPopup .itemPrice{
    font-weight: 600;
    line-height: 120%;
    color: var(--gray-scale-gray-–-900);
  }
  #cartItems{
    padding: 15px;
  }
  #laravel-notify {
    pointer-events: none;
}

.zoomLens {
    max-width: 160px !important;
    max-height: 160px !important;
}

