#wishlist .cartItem .cartItemPrice h4 del{
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-decoration: line-through;
color: var(--gray-scale-gray-–-400);
}
#wishlist .cartItem .cartItemQuantity .quantity{
  border: none;
  width: fit-content;
  padding: 0;
  height: 29px;
}
#wishlist .cartItem .cartItemQuantity .quantity p{
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--branding-success-dark);
  padding: 4px 8px;
  background: rgba(32, 181, 38, 0.2);
  border-radius: 4px;
}
#wishlist .cartItem .cartItemQuantity .out p{
  border-radius: 4px;
  padding: 4px 8px;
  background: rgba(234, 75, 72, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--branding-error);

}

#wishlist .cartItem .cartItemTotal a{
  border-radius: 43px;
  padding: 14px 32px;
  width: 100%;
  background: var(--branding-success);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
}
#wishlist .cartItem .cartItemTotal .out{
  border-radius: 43px;
  padding: 14px 32px;
  width: 100%;
  background: var(--gray-scale-gray-–-50);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-gray-–-300);
  
}
#wishlist .cartItem .cartItemTotal a:hover{
  background-color: var(--branding-success-dark);
}
#wishlist .cartItem .cartItemTotal .out:hover{
  background-color: var(--gray-scale-gray-–-100);
}


#wishlist .ReturnUpdate {
  padding: 12px 0;
}
#wishlist .ReturnUpdate .social-payment{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray-–-900);
  margin-left: 24px;
}
#wishlist .ReturnUpdate .social-payment .social{
  margin-left: 12px;
}
#wishlist .ReturnUpdate .social-payment .social img{
    padding: 8.5px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    filter: brightness(0.5);
}
#wishlist .ReturnUpdate .social-payment .social img:hover{
  background-color: var(--branding-success);
  color: var(--gray-scale-gray-–-100);
  filter: brightness(1);
}
#wishlist .cartItem:nth-last-child(1) {
  border-radius:0 0 8px 8px;
}
#wishlist .cartItem:nth-last-child(2) {
  border-radius: 0 0;
}

@media (max-width: 768px) {
  #wishlist .cartItem .cartItemPrice h4 del {
    font-size: 10px;
}
#wishlist .cartItem .cartItemQuantity .quantity p {
  font-size: 12px;
  padding: 2px 4px;
}
#wishlist .cartItem .cartItemQuantity .quantity {
  display: inline;
}
#wishlist .cartItem .cartItemTotal img {
  width: 25px;
  height: 25px;
  line-height: 0;
  padding: 5px;
  background-color: var(--branding-success);
  border-radius: 8px;
  display: flex; 
  align-items: center;
}
#wishlist .cartItem .cartItemTotal a {
  /* display: subgrid; */
  border-radius: 0px;
  padding: 0px 0px;
  width: 0%;
  font-size: 0px;
  line-height: 0;
}
}